@using MVC.ArticleAdventure.Helpers;
@using domain.ArticleAdventure.Entities;
@using domain.ArticleAdventure.Helpers;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - data.ArticleAdventure</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ant-design-blazor/0.4.1/_content/AntDesign/css/ant-design-blazor.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/data.ArticleAdventure.styles.css" asp-append-version="true" />*@
    @*<link rel="stylesheet" href="_content/AntDesign/css/ant-design-blazor.css" asp-append-version="true" />*@

</head>
<body>
    @{
        var listAuthorArticle = SessionExtensionsMVC.Get<List<MainArticle>>(Context.Session, SessionStoragePath.CART_ARTICLE);
        var userProfile = SessionExtensionsMVC.Get<UserProfile>(Context.Session, SessionStoragePath.USER);

    }
    @{

        //if (User.Identity.IsAuthenticated)
        //{
            <header>
                <div class="header_container">
                    <ul class="header_menu">
                    
                        @{
                            if (!User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <a asp-area="" asp-controller="Identity" asp-action="Login">Login</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Identity" asp-action="CreateAccount">Create Account</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a asp-area="" asp-controller="All" asp-action="AllBlogs">All</a>
                                </li>
                                //<li style="min-width: 103em;">

                                //</li>
                                <li class="isSelected">
                                    <a asp-area="" asp-controller="New" asp-action="SettingMainArticle">New</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Tags" asp-action="Tags">Tags</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Images" asp-action="Images">Images</a>
                                </li>
                                if (User.IsInRole("User"))
                                {
                                    <li>
                                        <a asp-area="" asp-controller="User" asp-action="MyAllArticles">My Articles</a>
                                    </li> 
                                }
                                <li>
                                    <a asp-area="" asp-controller="Stripe" asp-action="Basket">Basket</a>
                                    @if (listAuthorArticle != null)
                                    {
                                        <div class="desired_articles">@listAuthorArticle.Count()</div>
                                    }
                                </li>

                            }
                        }
                    </ul>
                </div>
                <div class="user_menu_wrapper">
                    <div class="user_menu_icon">
                        <div></div>
                    </div>

                    <div class="user_menu_container">
                        <div class="line">
                            <div class="user_info">
                                <div class="img_i">@Context.Request.Cookies[CookiesPath.USER_NAME]?.Substring(0, 1)</div>
                                <div class="info_i">
                                    <div>
                                        <div class="name">@Context.Request.Cookies[CookiesPath.USER_NAME]</div>
                                        <div class="email">@Context.Request.Cookies[CookiesPath.EMAIL]</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="line">
                            <ul>
                                <li>
                                    <a asp-area="" asp-controller="User" asp-action="MyArticles">My Courses</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Stripe" asp-action="Basket">My Cart</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="User" asp-action="MyFavoriteArticle">Like Articles</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="User" asp-action="HistoryBuy">History buy</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="User" asp-action="EditProfile">Setting Profile</a>
                                </li>
                            </ul>
                        </div>

                        <div class="line">
                            <ul>
                                <li>
                                    <a asp-area="" asp-controller="New" asp-action="LogOutAccount">Log Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                @*<div class="account-icon">
        <img src="account-icon.png" alt="Account Icon">
        <div class="popup">Ваш аккаунт</div>
        </div>*@
            </header>
            <div class="body_container">
                @RenderBody()
            </div>
        //}
        //else
        //{
        //    @RenderBody()
        //}
    }
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div id="error-message" class="alert alert-danger">
            @ViewBag.ErrorMessage
        </div>
    }
    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <div id="error-message" class="alert alert-success">
            @ViewBag.SuccessMessage
        </div>
    }
    <script>
        // Функция, которая скроет сообщение об ошибке через 5 секунд
        setTimeout(function () {
            var errorMessage = document.getElementById('error-message');
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }
        }, 5000); // 5000 миллисекунд (5 секунд)
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ant-design-blazor/0.4.1/_content/AntDesign/js/ant-design-blazor.min.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/k5ii9rm59cstg182bo9zodyavodnwfavfs2bt8f8khq2erj2/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: 'textarea',
            plugins: 'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
            menubar: 'file edit view insert format tools table help',
            toolbar_location: "top",
            toolbar: 'undo redo | bold italic underline strikethrough | fontselect | fontsizeselect | formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor | charmap emoticons | fullscreen  preview | insertfile image media link anchor codesample | ltr rtl',
            toolbar_mode: 'sliding',
            fontsize_formats: "8px 10px 11px 12px 14px 16px 18px 20px 24px 28px 36px 40px",
            height: "680"
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
