@using MVC.ArticleAdventure.Helpers;
@using MVC.ArticleAdventure.Services.Contract;
@using domain.ArticleAdventure.Entities;
@using domain.ArticleAdventure.Helpers;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - data.ArticleAdventure</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ant-design-blazor/0.4.1/_content/AntDesign/css/ant-design-blazor.css" asp-append-version="true" />
</head>
<body>
    @{

        var listAuthorArticle = SessionExtensionsMVC.Get<List<MainArticle>>(Context.Session, SessionStoragePath.CART_ARTICLE);
        var userProfile = SessionExtensionsMVC.Get<UserProfile>(Context.Session, SessionStoragePath.USER);
    }
    @{


        <header>
            <div class="header_container">
                <ul class="header_menu" style="margin-right: auto;">
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Index">Article Adventure</a>
                            </li>
                </ul>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="user_menu_wrapper">
                    <div class="basket">
                        <a asp-area="" asp-controller="User" asp-action="MyFavoriteArticle">
                            <svg viewBox="0 0 1024 1024" focusable="false" data-icon="shopping-cart" width="1em" height="1em" fill="currentColor" aria-hidden="true" style="    font-size: 50px; transform: translate(15px, 15px);">
                            <path d="M326.632,10.346c-38.733,0-74.991,17.537-99.132,46.92c-24.141-29.383-60.399-46.92-99.132-46.92
                                    C57.586,10.346,0,67.931,0,138.714c0,55.426,33.049,119.535,98.23,190.546c50.162,54.649,104.729,96.96,120.257,108.626l9.01,6.769
                                    l9.009-6.768c15.53-11.667,70.099-53.979,120.26-108.625C421.95,258.251,455,194.141,455,138.714
                                    C455,67.931,397.414,10.346,326.632,10.346z" />
                                                </svg>
                        </a>
                    </div>
                    <div class="basket">
                       
                        <a asp-area="" asp-controller="Stripe" asp-action="Basket">
                            <svg viewBox="0 0 1024 1024" focusable="false" data-icon="shopping-cart" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                <path d="M922.9 701.9H327.4l29.9-60.9 496.8-.9c16.8 0 31.2-12 34.2-28.6l68.8-385.1c1.8-10.1-.9-20.5-7.5-28.4a34.99 34.99 0 00-26.6-12.5l-632-2.1-5.4-25.4c-3.4-16.2-18-28-34.6-28H96.5a35.3 35.3 0 100 70.6h125.9L246 312.8l58.1 281.3-74.8 122.1a34.96 34.96 0 00-3 36.8c6 11.9 18.1 19.4 31.5 19.4h62.8a102.43 102.43 0 00-20.6 61.7c0 56.6 46 102.6 102.6 102.6s102.6-46 102.6-102.6c0-22.3-7.4-44-20.6-61.7h161.1a102.43 102.43 0 00-20.6 61.7c0 56.6 46 102.6 102.6 102.6s102.6-46 102.6-102.6c0-22.3-7.4-44-20.6-61.7H923c19.4 0 35.3-15.8 35.3-35.3a35.42 35.42 0 00-35.4-35.2zM305.7 253l575.8 1.9-56.4 315.8-452.3.8L305.7 253zm96.9 612.7c-17.4 0-31.6-14.2-31.6-31.6 0-17.4 14.2-31.6 31.6-31.6s31.6 14.2 31.6 31.6a31.6 31.6 0 01-31.6 31.6zm325.1 0c-17.4 0-31.6-14.2-31.6-31.6 0-17.4 14.2-31.6 31.6-31.6s31.6 14.2 31.6 31.6a31.6 31.6 0 01-31.6 31.6z"></path>
                            </svg>
                        </a>
                        @if (listAuthorArticle != null)
                        {
                            <div class="count">@listAuthorArticle.Count()</div>
                        }
                        else
                        {
                            <div class="count">0</div>
                        }
                    </div>

                    <div class="user_menu_icon">
                        <div></div>
                    </div>

                    <div class="user_menu_container">
                        <div class="line">
                            <div class="user_info">
                                <div class="img_i">@Context.Request.Cookies[CookiesPath.USER_NAME]?.Substring(0, 1)</div>
                                <div class="info_i">
                                    <div>
                                        <div class="name">@Context.Request.Cookies[CookiesPath.USER_NAME]</div>
                                        <div class="email">@Context.Request.Cookies[CookiesPath.EMAIL]</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="line">
                            <ul>
                                <li>
                                    <a asp-area="" asp-controller="User" asp-action="MyArticles">My Courses</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="User" asp-action="MyFavoriteArticle">Like Articles</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Stripe" asp-action="Basket">My Cart</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="User" asp-action="HistoryBuy">History buy</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="User" asp-action="EditProfile">Setting Profile</a>
                                </li>
                            </ul>
                        </div>
                        @if (UserRoleHelper.IsUserRole(User.Claims, Roles.Admin))//need set Administrator
                        {
                            <div class="line">
                                <ul>
                                    <li>
                                        <div>Admin Panel</div>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="New" asp-action="SettingMainArticle">New Article</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Tags" asp-action="Tags">Setting Tags</a>
                                    </li>
                                </ul>
                            </div>
                        }
                        <div class="line">
                            <ul>
                                <li>
                                    <a asp-area="" asp-controller="New" asp-action="LogOutAccount">Log Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="user_menu_wrapper">
                    <div class="basket">
                        <a asp-area="" asp-controller="Stripe" asp-action="Basket">
                            <svg viewBox="0 0 1024 1024" focusable="false" data-icon="shopping-cart" width="1em" height="1em" fill="currentCol or" aria-hidden="true">
                                <path d="M922.9 701.9H327.4l29.9-60.9 496.8-.9c16.8 0 31.2-12 34.2-28.6l68.8-385.1c1.8-10.1-.9-20.5-7.5-28.4a34.99 34.99 0 00-26.6-12.5l-632-2.1-5.4-25.4c-3.4-16.2-18-28-34.6-28H96.5a35.3 35.3 0 100 70.6h125.9L246 312.8l58.1 281.3-74.8 122.1a34.96 34.96 0 00-3 36.8c6 11.9 18.1 19.4 31.5 19.4h62.8a102.43 102.43 0 00-20.6 61.7c0 56.6 46 102.6 102.6 102.6s102.6-46 102.6-102.6c0-22.3-7.4-44-20.6-61.7h161.1a102.43 102.43 0 00-20.6 61.7c0 56.6 46 102.6 102.6 102.6s102.6-46 102.6-102.6c0-22.3-7.4-44-20.6-61.7H923c19.4 0 35.3-15.8 35.3-35.3a35.42 35.42 0 00-35.4-35.2zM305.7 253l575.8 1.9-56.4 315.8-452.3.8L305.7 253zm96.9 612.7c-17.4 0-31.6-14.2-31.6-31.6 0-17.4 14.2-31.6 31.6-31.6s31.6 14.2 31.6 31.6a31.6 31.6 0 01-31.6 31.6zm325.1 0c-17.4 0-31.6-14.2-31.6-31.6 0-17.4 14.2-31.6 31.6-31.6s31.6 14.2 31.6 31.6a31.6 31.6 0 01-31.6 31.6z"></path>
                            </svg>
                        </a>
                        @if (listAuthorArticle != null)
                        {
                            <div class="count">@listAuthorArticle.Count()</div>
                        }
                        else
                        {
                            <div class="count">0</div>
                        }
                    </div>

                    <div class="user_menu_icon">
                        <div></div>
                    </div>

                    <div class="user_menu_container">
                            <div class="line">
                                <ul>
                                <li>
                                    <a asp-area="" asp-controller="Identity" asp-action="Login">Login</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Identity" asp-action="CreateAccount">Create Account</a>
                                </li>
                                </ul>
                            </div>
                    </div>
                </div>
            }

            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div id="error-message" class="alert alert-danger" style="width: 250px; float: right;">
                    @ViewBag.ErrorMessage
                </div>
            }
            @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
            {
                <div id="error-message" class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
        </header>
        <div class="body_container">
            @RenderBody()
        </div>
    }
   
    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <div id="error-message" class="alert alert-success">
            @ViewBag.SuccessMessage
        </div>
    }
    <script>
        setTimeout(function () {
            var errorMessage = document.getElementById('error-message');
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }
        }, 5000);
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ant-design-blazor/0.4.1/_content/AntDesign/js/ant-design-blazor.min.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/k5ii9rm59cstg182bo9zodyavodnwfavfs2bt8f8khq2erj2/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: 'textarea',
            plugins: 'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
            menubar: 'file edit view insert format tools table help',
            toolbar_location: "top",
            toolbar: 'undo redo | bold italic underline strikethrough | fontselect | fontsizeselect | formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor | charmap emoticons | fullscreen  preview | insertfile image media link anchor codesample | ltr rtl',
            toolbar_mode: 'sliding',
            fontsize_formats: "8px 10px 11px 12px 14px 16px 18px 20px 24px 28px 36px 40px",
            height: "680"
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
