@model domain.ArticleAdventure.Models.HistoryBuyModel
@Html.Partial("_UpperInfoPanelUser")

<div class="container_content w960">
    <div class="articles_list_container">
        @foreach (var StripePayment in Model.historyArticleBuy)
        {
            <div class="history_page">
                <div class="history_list_container">
                    <div class="history_list">
                        <ul>
                            <li class="history_list_item">
                                <div class="img">
                                    <img src="@StripePayment.MainArticle.ImageUrl" />
                                </div>

                                <div class="text_wrapper">
                                    <div class="title">
                                        @StripePayment.MainArticle.Title
                                    </div>
                                    <p>@StripePayment.Description</p>
                                    <div class="line"></div>
                                    <p>First buy: @StripePayment.Created</p>
                                </div>

                                <div class="item_list_price">
                                    @StripePayment.MainArticle.Price $
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="history_list">
                        <ul>
                            @foreach (var article in StripePayment.MainArticle.Articles)
                            {
                                <li class="history_list_item sub_list_item">
                                    <div class="img"></div>
                                    <div class="text_wrapper">
                                        <div class="title">
                                            @article.Title
                                        </div>
                                        <p>@article.Description</p>
                                    </div>
                                    <div class="item_list_price">
                                        @article.Price $
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@Html.Partial("_FooterPanel")
