@model domain.ArticleAdventure.Models.MyFavoriteArticleModel

<div class="container_content w960">
    <div class="articles_list_container">
        @foreach (var Article in Model.favoriteArticles)
        {

            <article class="article_item">
                <div class="item_container">

                    <div class="item_header">
                        <div class="img">
                            <img src="@Article.MainArticle.ImageUrl" style="    width: 120px; height: 120px; box-shadow: 0 0 1px red; margin-right: 20px;" />
                        </div>
                        <div class="title_container">
                            <div class="title">@Article.MainArticle.Title</div>
                            <div class="created">
                                @Article.Created
                            </div>
                        </div>
                    </div>

                    <div class="item_body">
                        <p>
                            @Article.MainArticle.Description
                        </p>
                    </div>
                </div>

                <a href="~/InfoArticle?NetUidArticle={@Article.NetUid}" class="continueReading_btn">
                    Continue Reading
                </a>

                <div class="priceBox_style">
                    <a href="~/InfoArticle?NetUidArticle={@Article.NetUid}" class="continueReading_price">
                        <span>@Article.MainArticle.Price</span>$
                    </a>
                </div>
            </article>
        }
    </div>
</div>
@Html.Partial("_FooterPanel")
