@model domain.ArticleAdventure.Models.UserManagerModel

<div class="table_user_manager">
    <table>
        <tr class="uppercase_panel">
            <th>Create Date</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Select Profile</th>
        </tr>
        @for (int i = 0; i < Model.UserProfiles.Count; i++)
        {
            <tr>
                <td>@Model.UserProfiles[i].Created</td>
                <td>@Model.UserProfiles[i].UserName</td>
                <td>@Model.UserProfiles[i].Email</td>
                <td>@Model.UserProfiles[i].Role</td>
                @if (Model.SelectedRow == i)
                {
                    <td><button onclick="location.href='@Url.Action("SelectUser", "User",new {selectUser = i})'">Selected</button></td>
                }
                else
                {
                    <td><button onclick="location.href='@Url.Action("SelectUser", "User",new {selectUser = i})'">Select</button></td>
                }
            </tr>
        }
    </table>
    <div class="modal_wrapper">
        <input type="checkbox" id="isOpenModal" />
        <div class="modal_container">
            <div class="modal_form">
                <label class="close_modal" for="isOpenModal">x</label>
                <form asp-action="CreateUser">
                    <h4>Create account</h4>
                    <div>
                        <label for="newEmail"> UserName </label>
                        <input type="text" placeholder="UserName" asp-for="UserName" />
                        <label for="newEmail"> Email address:</label>
                        <input type="email" placeholder="UserEmail" asp-for="UserEmail" />
                        <label for="password">Password:</label>
                        <input type="password" placeholder="Password" asp-for="Password" />
                        <label for="password">ConfirmPassword:</label>
                        <input type="password" placeholder="ConfirmNewPassword" asp-for="ConfirmPassword" />
                        <div class="button_float_wrapper">
                            <button formmethod="post" type="submit">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @if (Model.EditUser)
    {
        <div class="modal_wrapper">
            <input type="checkbox" id="isOpenEditModal" />
            <div class="modal_container" style="opacity: 1;pointer-events: all;">
                <div class="modal_form">
                    <label class="close_modal" for="isOpenEditModal" onclick="location.href='@Url.Action("UserManager", "User")'">x</label>
                    <form asp-action="EditUser">
                        <h4>Edit account</h4>
                        <div>
                            <input type="hidden" asp-for="EditUserProfile.NetUid">
                            <label for="newEmail"> UserName </label>
                            <input type="text" placeholder="UserName" asp-for="EditUserProfile.UserName" />
                            <label for="newEmail"> Email address:</label>
                            <input type="email" placeholder="UserEmail" asp-for="EditUserProfile.Email" />
                            <label for="password">Password:</label>
                            <input type="password" placeholder="Password" asp-for="Password" />
                            <label for="password">ConfirmPassword:</label>
                            <input type="password" placeholder="ConfirmNewPassword" asp-for="ConfirmPassword" />
                            <div class="button_float_wrapper">
                                <button formmethod="post" type="submit">Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
<footer class="footer_user_manager_panel">
    <div class="center_panel">
        <div class="label_panel">
            <label for="isOpenModal">Create</label>
        </div>
        @if (Model.SelectedRow == -1)
        {
            <div class="label_panel_select">
                <label disabled>Edit</label>
            </div>
            <div class="label_panel_select">
                <label disabled>Delete</label>
            </div>
        }
        else
        {
            <div class="label_panel">
                <label for="isOpenEditModal" onclick="location.href='@Url.Action("EditUserManager", "User",new {selectedRow = Model.SelectedRow})'">Edit</label>
            </div>
            <div class="label_panel">
                <label onclick="location.href='@Url.Action("RemoveAccount", "User",new {selectedRow = Model.SelectedRow})'">Delete</label>
            </div>
        }
    </div>
</footer>


