@model domain.ArticleAdventure.Models.UserManagerModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="table_user_manager">
    <table >
        <tr class="uppercase_panel">
            <th>Create Date</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Select Profile</th>
        </tr>
        @for (int i = 0; i < Model.UserProfiles.Count; i++)
        {
            <tr>
                <td>@Model.UserProfiles[i].Created</td>
                <td>@Model.UserProfiles[i].UserName</td>
                <td>@Model.UserProfiles[i].Email</td>
                <td>@Model.UserProfiles[i].Role</td>
                @if (Model.SelectedRow == i)
                {
                    <td><button onclick="location.href='@Url.Action("SelectUser", "User",new {selectUser = i})'">Selected</button></td>
                }
                else
                {
                    <td><button onclick ="location.href='@Url.Action("SelectUser", "User",new {selectUser = i})'">Select</button></td>
                }

            </tr>
        }
    </table>


    <div>
        <button onclick="location.href='@Url.Action("CreateUserManager", "User",new {selectedRow = Model.SelectedRow})'">Create</button>
        @if (Model.SelectedRow == -1)
        {
            <button disabled>Edit</button>
            <button disabled>Delete</button>
        }
        else
        {
            <button onclick="location.href='@Url.Action("EditUserManager", "User",new {selectedRow = Model.SelectedRow})'">Edit</button>
            <button >Delete</button>
        }
    </div>
    <div>
        @if (Model.EditUser)
        {
            <form asp-action="EditUser" style="display: inline-grid;">
                <input type="hidden" asp-for="EditUserProfile.NetUid">
                <input type="text" placeholder="CurrentPassword" asp-for="EditUserProfile.UserName" />
                <input type="email" placeholder="NewPassword" asp-for="EditUserProfile.Email" />
                <input type="password" placeholder="ConfirmNewPassword" asp-for="Password" />
                <input type="password" placeholder="ConfirmNewPassword" asp-for="ConfirmPassword" />
                <select id="cars" name="selectedRole">
                    @foreach (var role in Model.IdentityRoles)
                    {
                        <option value="@role">@role</option>
                    }
                </select>
                <button>SaveEditUser</button>
            </form>
            
        }
    </div>
    <div>
        @if (Model.CreateUser)
        {
            <form asp-action="CreateUser" style="display: inline-grid;">
                <input type="text" placeholder="UserName" asp-for="UserName" />
                <input type="email" placeholder="UserEmail" asp-for="UserEmail" />
                <input type="password" placeholder="Password" asp-for="Password" />
                <input type="password" placeholder="ConfirmNewPassword" asp-for="ConfirmPassword" />
                <select id="cars" name="cars">
                    @foreach (var role in Model.IdentityRoles)
                    {
                        <option value="@role">@role</option>
                    }
                </select>
                <button>SaveCreateUser</button>
            </form>
        }
    </div>
</div>
