@model domain.ArticleAdventure.Models.StripeStatisticsModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="admin_panel">
    @Html.Partial("_SideBarAdminPanel")
    <div class="main_article_change">
        <div class="buttons_tags">
            <div class="charts_small_panel">
                <div>Amount:</div>
                <div>@Model.StripeStatistics.AllProducts</div>
                <div>
                    <table class="charts-css column show-heading show-labels show-primary-axis show-4-secondary-axes show-data-axes data-spacing-15 show-data-on-hover">
                        <thead> n
                            <tr>
                                <th scope="col"> Days </th>
                                <th scope="col"> Value </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.StripeStatistics.Products)
                            {
                                <tr>
                                    <th> @item.Key</th>
                                    <td style="--start: @item.Value/2;--size:calc( @item.Value/@Model.StripeStatistics.MaxProducts );"> @item.Value</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
            <div>
                <div>Amount:</div>
                <div>@Model.StripeStatistics.AllProducts</div>
                <div>
                    <table class="charts-css column show-heading show-labels show-primary-axis show-4-secondary-axes show-data-axes data-spacing-15 show-data-on-hover">
                        <thead>
                            <tr>
                                <th scope="col"> Days </th>
                                <th scope="col"> Value </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.StripeStatistics.Products)
                            {
                                <tr>
                                    <th> @item.Key</th>
                                    <td style="--start: @item.Value/2;--size:calc( @item.Value/@Model.StripeStatistics.MaxProducts );"> @item.Value</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
            <div>
                <div>Amount:</div>
                <div>@Model.StripeStatistics.AllProducts</div>
                <div>
                    <table class="charts-css column show-heading show-labels show-primary-axis show-4-secondary-axes show-data-axes data-spacing-15 show-data-on-hover">
                        <thead>
                            <tr>
                                <th scope="col"> Days </th>
                                <th scope="col"> Value </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.StripeStatistics.Products)
                            {
                                <tr>
                                    <th> @item.Key</th>
                                    <td style="--start: @item.Value/2;--size:calc( @item.Value/@Model.StripeStatistics.MaxProducts );"> @item.Value</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <div class="buttons_tags">
            <div></div>
        </div>
    </div>
    @* <div>Amount:@Model.StripeStatistics.AllAmount</div>
    <div>Products:@Model.StripeStatistics.AllProducts</div>
    <div>Customers:@Model.StripeStatistics.AllCustomers</div>*@
    @*<table class="charts-css column show-heading show-labels show-primary-axis show-4-secondary-axes show-data-axes data-spacing-15 show-data-on-hover">
    <thead>
    <tr>
    <th scope="col"> Days </th>
    <th scope="col"> Value </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.StripeStatistics.Products)
    {
    <tr>
    <th > @item.Key</th>
    <td style="--start: @item.Value/2; --size: calc( @item.Value / @Model.StripeStatistics.MaxProducts );"> @item.Value</td>
    </tr>
    }
    <tr>
    <th> 10/32</th>
    </tr>
    </tbody>

    </table>*@
    @*@Html.Partial("_SideBarAdminPanel")*@
    @*<table class="charts-css column show-heading show-labels show-primary-axis show-4-secondary-axes show-data-axes data-spacing-15 hide-data">

    <caption> Chart Heading </caption>

    <thead>
    <tr>
    <th scope="col"> Year </th>
    <th scope="col"> Value </th>
    </tr>
    </thead>

    <tbody>
    <tr>
    <th> 2016 </th>
    <td style="--size: calc( 20 / 100 );"> 20 </td>
    </tr>
    <tr>
    <th> 2017 </th>
    <td style="--size: calc( 40 / 100 );"> 40 </td>
    </tr>
    <tr>
    <th> 2018 </th>
    <td style="--size: calc( 60 / 100 );"> 60 </td>
    </tr>
    <tr>
    <th> 2019 </th>
    <td style="--size: calc( 80 / 100 );"> 80 </td>
    </tr>
    <tr>
    <th> 2020 </th>
    <td style="--size: calc( 100 / 100 );"> 100 </td>
    </tr>
    </tbody>

    </table>*@
</div>
