@model domain.ArticleAdventure.Models.AllArticlesModel
<div class="container_content" style="display:flex; width:1200px;">
    <div class="list_pay" style="margin-right: 20px;">
       
            <div class="archicle_info_item sticky price_item_container">
            <div class="controls" style="width: 200px;">
                @foreach (var MainTag in Model.ArticleTags)
                {
                    <div>
                            <h5>@MainTag.Name</h5>
                        @foreach (var SubTag in MainTag.SubTags)
                        {
                            <li>
                                @if (SubTag.IsSelected)
                                {
                                    <span>
                                        <input type="checkbox" value="true" onclick="location.href='@Url.Action("RemoveFilterlSupTag", "All",new {RemoveSupTagsNetUid = SubTag.NetUid})'" checked />
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        <input type="checkbox" value="true" onclick="location.href='@Url.Action("IsSelectFilterSupTag", "All",new {IsSelectSupTagsNetUid = SubTag.NetUid})'"  />
                                    </span>
                                }
                                <span style="color:@SubTag.Color">#</span>
                                <span>@SubTag.Name</span>
                            </li>
                        }
                    </div>     
                }
                </div>
            </div>
        
    </div>
    <div class="articles_list_container">
        @foreach (var Article in Model.mainArticles)
        {

            <article class="article_item">
                <div class="item_container">

                    <div class="item_header">
                        <div class="img">
                            <img src="@Article.ImageUrl" style="    width: 120px; height: 120px; box-shadow: 0 0 1px red; margin-right: 20px;" />
                        </div>
                        <div class="title_container">
                            <div class="title">@Article.Title</div>
                            <div class="created">
                                @Article.Created
                            </div>
                        </div>
                    </div>

                    <div class="item_body">
                        <p>
                            @Article.Description
                        </p>


                        <div class="item_tags">
                            <ol>

                                @foreach (var tag in Article.ArticleTags)
                                {
                                    <li>
                                        <span style="color:@tag.SupTag.Color;">#</span>
                                        <span>@tag.SupTag.Name</span>
                                    </li>
                                }
                            </ol>
                        </div>
                    </div>
                </div>

                <a href="~/InfoArticle?NetUidArticle={@Article.NetUid}" class="continueReading_btn">
                    Continue Reading
                </a>

                <div class="priceBox_style">
                    <a href="~/InfoArticle?NetUidArticle={@Article.NetUid}" class="continueReading_price">
                        <span>@Article.Price</span>$
                    </a>
                </div>
                
               @* <div class="item_controls">
                    <div class="controls_wrapper">
                        <input formmethod="get"
                               class="delete"
                               type="submit" value="Delete" asp-page-handler="Submit" onclick="location.href='@Url.Action("Remove", "All",new {netUidArticle =Article.NetUid})'" />
                        <input formmethod="get"
                               class="change"
                               type="submit" value="Change" asp-page-handler="Submit" onclick="location.href='@Url.Action("ChangeMainArticle", "All",new {netUidArticle =Article.NetUid})'" />
                    </div>
                </div>*@
            </article>
        }
    </div>
    
</div>