@model domain.ArticleAdventure.Models.GetInformationArticleModel


<div class="container_content">
    <div class="articles_list_container">
        @foreach (var Article in Model.MainArticle.Articles)
        {
            <article class="article_item">
                <div class="item_container">
                    <div class="item_header">
                        <div class="title_container">
                            <div class="title">@Article.Title</div>
                            <div class="created">
                                @Article.Created
                            </div>
                        </div>
                    </div>
                    <div class="item_body">
                        <p>
                            @Html.Raw(Article.Body)
                        </p>

                        <div class="item_tags">
                            <ol>
                                @foreach (var item in Model.MainArticle.ArticleTags)
                                {
                                    <li>
                                        <span style="color:@item.SupTag.Color">#</span>
                                        <span>@item.SupTag.Name</span>
                                    </li>
                                }
                            </ol>
                        </div>
                    </div>

                </div>
            </article>
        }

        @foreach (var article in Model.NotBuyArticle)
        {
            <article class="article_item">
                <div class="item_container">
                    <div class="item_header">
                        <div class="title_container">
                            <div class="title">@article.Title</div>
                            <div class="created">
                                @article.Created
                            </div>
                        </div>
                    </div>
                    <div class="item_body">
                        <p>@article.Description</p>
                        <div class="read_more_container">
                            <div class="rm_wrapper">
                                <h6>Want to read more?</h6>
                                <span class="rm_info">You can easily buy a part of the course, or you can buy the Full Version.</span>
                                <div class="line"></div>
                                <div class="btns_row">
                                    <button type="button" onclick="location.href='@Url.Action("BuySup", "Stripe",new {netUidBuyArticle = article.NetUid})'">Buy a piece</button>
                                    <button  class="fullPrice">Buy Full Article @Model.MainArticle.Price $</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="priceBox_style">
                    <a href="/" style="pointer-events:none" class="continueReading_price">
                        <span>@article.Price</span>$
                    </a>
                </div>
            </article>
        }
    </div>
</div>
