@model domain.ArticleAdventure.Models.InfoArticleModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="container_content w1260">
    <div class="articles_list_container">
        <div class="list_info_wrapper">
            <div class="list_left">
                <div class="article_item archicle_info_item">
                    <div class="item_container">

                        <div class="item_header">
                            <div class="title_container">
                                <div class="title">@Model.MainArticle.Title</div>

                                <div class="created">
                                    @Model.MainArticle.Created
                                </div>
                            </div>
                        </div>

                        <div class="item_body">
                            <p>
                                @Model.MainArticle.Description
                            </p>

                            <div class="item_tags">
                                <ol>

                                    @foreach (var tag in Model.MainArticle.ArticleTags)
                                    {
                                        <li>
                                            <span style="color:@tag.SupTag.Color;">#</span>
                                            <span>@tag.SupTag.Name</span>
                                        </li>
                                    }
                                </ol>
                            </div>
                        </div>
                    </div>
                    @*<button style="width: 100px;" onclick="location.href='@Url.Action("GetInformationArticle", "All",new {netUidArticle = Model.MainArticle.NetUid})'">Buy now</button>*@


                </div>

                <div class="item_box_title">Materials Articles</div>
                <div class="archicle_info_item">


                    <div class="sectionsCount">
                        <div>@Model.MainArticle.Articles.Count() sections</div>
                    </div>
                    <ul class="articles_list">
                        @foreach (var article in Model.MainArticle.Articles)
                        {
                            <li>
                                <div>
                                    <div class="t">
                                        @article.Title
                                    </div>
                                    <div class="d">@article.Description</div>
                                </div>
                                <div class="price_cell">
                                    @article.Price $

                                    <button type="button" onclick="location.href='@Url.Action("BuySup", "Stripe",new {netUidBuyArticle = article.NetUid})'">buy part of the article</button>
                                </div>
                            </li>

                        }
                    </ul>
                </div>

                <div class="item_box_title">Article information</div>
                <div class="archicle_info_item">
                    <div>
                        <div>@Model.MainArticle.InfromationArticle</div>
                    </div>


                </div>
            </div>

            <div class="list_pay">
                <div class="archicle_info_item sticky price_item_container">
                    <div class="img">
                        <img src="@Model.MainArticle.ImageUrl" style="height: 160px; box-shadow: 0 0 1px red; top: 0; left: 0; right: 0;  bottom: auto; z-index: 1; position: absolute;" />
                    </div>
                    <div class="price">@Model.MainArticle.Price $</div>
                    <div class="controls">
                        <button class="archicle_btn withLike" onclick="location.href='@Url.Action("SetСartArticle", "Stripe",new {netUidArticle = Model.MainArticle.NetUid})'"> Go to the Cart</button>

                        <button type="button" class="like_box" onclick="location.href='@Url.Action("SetFavoriteArticle", "User",new {netUidArticle = Model.MainArticle.NetUid})'">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 455 455" xml:space="preserve">
<path d="M326.632,10.346c-38.733,0-74.991,17.537-99.132,46.92c-24.141-29.383-60.399-46.92-99.132-46.92
	C57.586,10.346,0,67.931,0,138.714c0,55.426,33.049,119.535,98.23,190.546c50.162,54.649,104.729,96.96,120.257,108.626l9.01,6.769
	l9.009-6.768c15.53-11.667,70.099-53.979,120.26-108.625C421.95,258.251,455,194.141,455,138.714
	C455,67.931,397.414,10.346,326.632,10.346z" />
</svg>
                        </button>
                        <button class="archicle_btn full" onclick="location.href='@Url.Action("BuyNow", "Stripe",new {netUidBuyArticle = Model.MainArticle.NetUid})'">Buy now</button>

                        @*<button class="archicle_btn full" onclick="location.href='@Url.Action("GetInformationArticle", "All",new {netUidArticle = Model.MainArticle.NetUid})'">GetArticle</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
