@model domain.ArticleAdventure.Models.InfoArticleModel
<div class="container_content w1260">
    <div class="articles_list_container">
        <div class="list_info_wrapper">
            <div class="list_left">
                <div class="article_item archicle_info_item">
                    <div class="item_container">

                        <div class="item_header">
                            <div class="title_container">
                                <div class="title">@Model.MainArticle.Title</div>

                                <div class="created">
                                    @Model.MainArticle.Created
                                </div>
                            </div>
                        </div>

                        <div class="item_body">
                            <p>
                                @Model.MainArticle.Description
                            </p>

                            <div class="item_tags">
                                <ol>

                                    @foreach (var tag in Model.MainArticle.ArticleTags)
                                    {
                                        <li>
                                            <span style="color:@tag.SupTag.Color;">#</span>
                                            <span>@tag.SupTag.Name</span>
                                        </li>
                                    }
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item_box_title">Materials Articles</div>
                <div class="archicle_info_item">


                    <div class="sectionsCount">
                        <div>@Model.MainArticle.Articles.Count() sections</div>
                    </div>
                    <ul class="articles_list">
                        @foreach (var article in Model.MainArticle.Articles)
                        {
                            <li>
                                <div>
                                    <div class="t">
                                        @article.Title
                                    </div>
                                    <div class="d">@article.Description</div>
                                </div>
                                <div class="price_cell">
                                    $  @article.Price

                                    <button type="button" onclick="location.href='@Url.Action("BuySup", "Stripe",new {netUidBuyArticle = article.NetUid})'">buy part of the article</button>
                                </div>
                            </li>

                        }
                    </ul>
                </div>
                <div class="item_box_title">Article information</div>
                <div class="archicle_info_item">
                    <div>
                        <div>@Model.MainArticle.InfromationArticle</div>
                    </div>
                </div>
                <div class="item_box_title">The article has been created:</div>
                <div class="archicle_info_item">
                    <div class="profile_container">
                        <div>
                            <h6>Article creator</h6>
                            <a href="~/Profile?netUidProfile={@Model.MainArticle.UserProfile.NetUid}">
                                <span>
                                    @Model.MainArticle.UserProfile.UserName
                                </span>
                            </a>
                            <div class="info_author_sur_name">@Model.MainArticle.UserProfile.SurName</div>
                            @Html.Raw(Model.MainArticle.UserProfile.InformationAccount)

                        </div>
                        <div>
                            <img src="@Model.MainArticle.UserProfile.GetLinkPictureUser()" style="    width: 120px; height: 120px; box-shadow: 0 0 1px red; margin-right: 20px;" />
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="list_pay">
                <div class="archicle_info_item sticky price_item_container">
                    <div class="img">
                        <img src="@Model.MainArticle.GetImageUrl()" />
                    </div>
                    <div class="price">$ @Model.MainArticle.Price </div>
                    <div class="controls">
                        @if (Model.IsSetBasket)
                        {
                            <button disabled style="background-color: #b5b4c1;font-size: 13px;" class="archicle_btn withLike" onclick="location.href='@Url.Action("SetСartArticle", "Stripe",new {netUidArticle = Model.MainArticle.NetUid})'"> Already in the cart</button>
                        }
                        else
                        {
                            <button class="archicle_btn withLike" onclick="location.href='@Url.Action("SetСartArticle", "Stripe",new {netUidArticle = Model.MainArticle.NetUid})'"> Go to the Cart</button>
                        }

                        @if (Model.IsFavoriteArticle)
                        {
                            <button type="button" class="like_box" onclick="location.href='@Url.Action("RemoveFavoriteArticle", "User",new {netUidFavoriteArticle = Model.netUidFavoriteArticle , netUidArticle = Model.MainArticle.NetUid})'">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Filled" viewBox="0 0 24 24"><path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z" /></svg>
                            </button>
                        }
                        else
                        {
                            <button type="button" class="like_box" onclick="location.href='@Url.Action("SetFavoriteArticle", "User",new {netUidArticle = Model.MainArticle.NetUid})'">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g id="_01_align_center" data-name="01 align center"><path d="M17.5.917a6.4,6.4,0,0,0-5.5,3.3A6.4,6.4,0,0,0,6.5.917,6.8,6.8,0,0,0,0,7.967c0,6.775,10.956,14.6,11.422,14.932l.578.409.578-.409C13.044,22.569,24,14.742,24,7.967A6.8,6.8,0,0,0,17.5.917ZM12,20.846c-3.253-2.43-10-8.4-10-12.879a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,7.967h2a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,7.967C22,12.448,15.253,18.416,12,20.846Z" /></g></svg>
                            </button>
                        }
                        <button class="archicle_btn full" onclick="location.href='@Url.Action("BuyNow", "Stripe",new {netUidBuyArticle = Model.MainArticle.NetUid})'">Buy now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_FooterPanel")

