@model domain.ArticleAdventure.Models.InfoArticleModel
<div class="container_content w1260">
    <div class="articles_list_container">
        <div class="list_info_wrapper">
            <div class="list_left">
                <div class="article_item archicle_info_item">
                    <div class="item_container">

                        <div class="item_header">
                            <div class="title_container">
                                <div class="title">@Model.MainArticle.Title</div>

                                <div class="created">
                                    @Model.MainArticle.Created
                                </div>
                            </div>
                        </div>

                        <div class="item_body">
                            <p>
                                @Model.MainArticle.Description
                            </p>

                            <div class="item_tags">
                                <ol>

                                    @foreach (var tag in Model.MainArticle.ArticleTags)
                                    {
                                        <li>
                                            <span style="color:@tag.SupTag.Color;">#</span>
                                            <span>@tag.SupTag.Name</span>
                                        </li>
                                    }
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item_box_title">Materials Articles</div>
                <div class="archicle_info_item">


                    <div class="sectionsCount">
                        <div>@Model.MainArticle.Articles.Count() sections</div>
                    </div>
                    <ul class="articles_list">
                        @foreach (var article in Model.MainArticle.Articles)
                        {
                            <li>
                                <div>
                                    <div class="t">
                                        @article.Title
                                    </div>
                                    <div class="d">@article.Description</div>
                                </div>
                                <div class="price_cell">
                                    @article.Price $

                                    <button type="button" onclick="location.href='@Url.Action("BuySup", "Stripe",new {netUidBuyArticle = article.NetUid})'">buy part of the article</button>
                                </div>
                            </li>

                        }
                    </ul>
                </div>
                <div class="item_box_title">Article information</div>
                <div class="archicle_info_item">
                    <div>
                        <div>@Model.MainArticle.InfromationArticle</div>
                    </div>
                </div>
                <div class="item_box_title">The article has been created:</div>
                <div class="archicle_info_item">
                    <a href="~/Profile?netUidProfile={@Model.MainArticle.UserProfile.NetUid}">
                        <div>@Model.MainArticle.UserProfile.UserName</div>
                        <div>@Model.MainArticle.UserProfile.SurName</div>
                        <img src="@Model.MainArticle.UserProfile.LinkPictureUser" style="    width: 120px; height: 120px; box-shadow: 0 0 1px red; margin-right: 20px;" />
                        <div>@Model.MainArticle.UserProfile.InformationAccount</div>
                    </a>
                </div>
            </div>
            <div class="list_pay">
                <div class="archicle_info_item sticky price_item_container">
                    <div class="img">
                        <img src="@Model.MainArticle.ImageUrl" />
                    </div>
                    <div class="price">@Model.MainArticle.Price $</div>
                    <div class="controls">
                        <button class="archicle_btn withLike" onclick="location.href='@Url.Action("SetСartArticle", "Stripe",new {netUidArticle = Model.MainArticle.NetUid})'"> Go to the Cart</button>

                        @if (Model.IsFavoriteArticle)
                        {
                            <button type="button" class="like_box" onclick="location.href='@Url.Action("RemoveFavoriteArticle", "User",new {netUidFavoriteArticle = Model.netUidFavoriteArticle , netUidArticle = Model.MainArticle.NetUid})'">
                                <svg viewBox="-1 0 19 19" xmlns="http://www.w3.org/2000/svg" class="cf-icon-svg"><path d="m12.673 10.779.798 4.02c.221 1.11-.407 1.566-1.395 1.013L8.5 13.81l-3.576 2.002c-.988.553-1.616.097-1.395-1.013l.397-2.001.401-2.02-1.51-1.397-1.498-1.385c-.832-.769-.592-1.507.532-1.64l2.026-.24 2.044-.242 1.717-3.722c.474-1.028 1.25-1.028 1.724 0l1.717 3.722 2.044.242 2.026.24c1.124.133 1.364.871.533 1.64L14.184 9.38z" /></svg>
                            </button>
                        }
                        else
                        {
                            <button type="button" class="like_box" onclick="location.href='@Url.Action("SetFavoriteArticle", "User",new {netUidArticle = Model.MainArticle.NetUid})'">
                                <svg viewBox="-1 0 19 19" xmlns="http://www.w3.org/2000/svg" class="cf-icon-svg"><path d="m9.362 2.152 1.717 3.721 2.044.243 2.026.24c1.124.133 1.364.871.533 1.64L14.184 9.38l-1.512 1.397.8 4.02c.156.79-.116 1.25-.642 1.25a1.59 1.59 0 0 1-.753-.236L8.5 13.81l-3.576 2.002a1.593 1.593 0 0 1-.754.235c-.526 0-.798-.459-.641-1.249l.397-2 .401-2.02-1.51-1.397-1.498-1.385c-.832-.769-.592-1.507.532-1.64l2.026-.24 2.044-.243 1.717-3.721c.237-.514.55-.771.862-.771s.625.257.862.77zM6.928 6.338a1.109 1.109 0 0 1-.876.636l-2.042.242h-.002l-1.684.2L5.08 9.965a1.107 1.107 0 0 1 .335 1.03l-.401 2.019-.331 1.663 3.276-1.834a1.107 1.107 0 0 1 1.082 0l3.276 1.834-.731-3.682a1.108 1.108 0 0 1 .334-1.03l1.511-1.398.002-.001 1.243-1.15-1.684-.2-2.044-.242a1.109 1.109 0 0 1-.876-.636L8.5 2.928z" /></svg>
                            </button>
                        }
                        <button class="archicle_btn full" onclick="location.href='@Url.Action("BuyNow", "Stripe",new {netUidBuyArticle = Model.MainArticle.NetUid})'">Buy now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_FooterPanel")

