@model domain.ArticleAdventure.Models.InfoArticleModel


<div class="container_content">
    <div class="articles_list_container">

        <div>Add a photo in the future</div>
        <div>@Model.MainArticle.Title</div>
        <div>@Model.MainArticle.Created</div>
        <div>@Model.MainArticle.Description</div>

        @foreach(var article in Model.MainArticle.Articles)
        {
            <div>@article.Title</div>
            <div>@article.Description</div>
            <div>@article.Body</div>
        }
    </div>
</div>