@model domain.ArticleAdventure.Models.SettingMainArticleModel
@{
}

<div class="article_change">
    <div class="meta_row_all_buttons">
        @foreach (var mainTag in Model.MainTags)
        {
            @foreach (var subTag in mainTag.SubTags)
            {
                if (subTag.IsSelected)
                {
                    <button style="background-color:#af4444" onclick="location.href='@Url.Action("RemoveLocalSupTag", "New",new {RemoveSupTagsNetUid = subTag.NetUid})'">Сancel</button>
                }
                else
                {
                    <button onclick="location.href='@Url.Action("IsSelectLocalSupTag", "New",new {IsSelectSupTagsNetUid = subTag.NetUid})'">@subTag.Name</button>
                }

            }
        }
    </div>
    <form asp-controller="New">
        <div class="meta_row">
            <div class="inputs" style="width:100%">
                <div class="input" style="width:100%">
                    <input type="text" placeholder="Title" asp-for="MainArticle.Title" />
                </div>
            </div>


        </div>
        <div class="meta_row">
            <div class="inputs" style="width:100%">
                <div class="input" style="width:100%">
                    <input type="text" placeholder="Description" asp-for="MainArticle.Description" />
                </div>
            </div>
        </div>
       
        <div>
            @foreach (var article in Model.MainArticle.Articles)
            {
                <input type="hidden" asp-for="@article.Body" />
               @* <input type="hidden" asp-for="@article.Title" />
                <input type="hidden" asp-for="@article.Description" />*@

                <div style="width: calc(100% - 320px); height: 150px;background-color: #fff;margin: 10px 0px 10px 0px;">
                    <div style=" display:flex;height: 75%;">
                        <div style="width:100%;">
                            <div style="font-size:23px">@article.Title</div>
                            <div style="font-size:18px">@article.Description</div>
                        </div>
                        <div class="meta_row" style="align-self: center; width:20%">
                            <div class="inputs" style="width: 90%;">
                                <div class="input" style="width:100%">
                                    <div style="font-size:18px">@article.Price $</div>
                                    @*<input type="text" placeholder="Price" asp-for="@article.Price" />*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <div>
                            <input value="Сhange" type="submit" asp-page-handler="Submit" />
                            <input  class="change" value="Delete" type="submit" asp-page-handler="Submit" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="meta_row">
            <div class="inputs" style="width:100%">
                <div class="input" style="width:100%;">
                    <input type="text" placeholder="Infromation Article" asp-for="MainArticle.InfromationArticle" />
                </div>
            </div>
        </div>
        <div class="meta_row">
            <div class="inputs" style="width:100%">
                <div class="input" style="width:100%">
                    <input type="text" placeholder="Price $" asp-for="MainArticle.Price" />
                </div>
            </div>
        </div>
        <button formaction="SettingMainArticle" formmethod="post" type="submit" value="Save">Create</button>

        @* <div class="meta_row_all_buttons">
        @foreach (var mainTag in Model.MainTags)
        {
        @foreach (var subTag in mainTag.SubTags)
        {
        <button formaction="IsSelect" formmethod="post">@subTag.Name</button>
        }
        }
        </div>*@
        @*<input type="file"/>*@
    </form>

</div>
