@using Microsoft.AspNetCore.Components;
@model domain.ArticleAdventure.Models.SettingMainArticleModel



<div class="main_article_change">
    <div class="buttons_tags">
        <div class="item_tags">
            <ol>
                @foreach (var mainTag in Model.MainTags)
                {
                    @foreach (var tag in mainTag.SubTags)
                    {
                        @if (tag.IsSelected)
                        {
                            <li class="liCansel"  onclick="location.href='@Url.Action("RemoveLocalSupTag", "New",new {RemoveSupTagsNetUid = tag.NetUid})'">
                                <span  >#</span>
                                <span>@tag.Name</span>
                            </li>
                        }
                        else
                        {
                            <li onclick="location.href='@Url.Action("IsSelectLocalSupTag", "New",new {IsSelectSupTagsNetUid = tag.NetUid})'">
                                <span  style="color:@tag.Color;">#</span>
                                <span>@tag.Name</span>
                            </li>
                        }
                    }
                }
            </ol>
        </div>
    </div>
    <form asp-controller="New" enctype="multipart/form-data" class="main_panel">
        <div class="meta_row">
            <div class="inputs">
                <div class="input">
                    <input type="text" placeholder="Title" asp-for="MainArticle.Title" onchange="Eval_input" />
                    <span asp-validation-for="@Model.MainArticle.Title" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="meta_row">
            <div class="inputs">
                <div class="input">
                    <input type="text" placeholder="Description" asp-for="MainArticle.Description" />
                </div>
            </div>
        </div>
        <div class="articles_panel">
            <div class="archicle_info_item">
                <div class="sectionsCount">
                    <div>@Model.MainArticle.Articles.Count() sections</div>
                </div>
                <ul class="articles_list">
                    @foreach (var article in Model.MainArticle.Articles)
                    {
                        <input type="hidden" asp-for="@article.Body" />
                        <li>
                            <div>
                                <div class="t">
                                    @article.Title
                                </div>
                                <div class="d">@article.Description</div>
                            </div>
                            <div class="price_cell">
                                $ @article.Price
                                <div>
                                    <div>
                                        <button value="Change" type="button" onclick="location.href='@Url.Action("ChangeLocalSupArticle",new {ChangeIdArticle =article.Id})'">Change</button>
                                        <button value="Delete " type="button" onclick="location.href='@Url.Action("RemoveLocalSupArticle",new {RemoveIdArticle =article.Id})'">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        <div> 
            <button class="continueReading_btn" type="button" onclick="location.href='@Url.Action("AddNewSupArticle","New")'">Add Sup Article</button>
        </div>
            <div class="custom-file-upload">
                <label for="file-upload" class="custom-file-label">Choose File</label>
                <input type="file" id="file-upload" class="input-file" asp-for="@Model.PhotoMainArticle" enctype="multipart/form-data" multiple accept=".jpg,.jpeg,.png" />
            </div>
        <div class="meta_row">
            <div class="inputs">
                <div class="input">
                    <input type="text" placeholder="Infromation Article" asp-for="MainArticle.InfromationArticle" />
                </div>
            </div>
        </div>
        <div class="meta_row">
            <div class="inputs">
                <div class="input">
                        <input type="text" placeholder="$ Price" asp-for="MainArticle.Price" />
                </div>
            </div>
        </div>
        <button class="continueReading_btn" formaction="SettingMainArticle" formmethod="post" type="submit" value="Save">Create</button>
    </form>
</div>


