@model domain.ArticleAdventure.Models.RegisterModel

<div class="auth_page_component">
    <div class="form_container">
        @if (!Model.IsEmailConfirmed)
        {
            <form method="post">
                <h1 class="displayFlexAuth">
                    <div class="leftBorderLogin"></div>
                    <span>Create Account</span>
                    <div class="rightBorderLogin"></div>
                </h1>
                <div class="form_control">
                    <div class="control_title">Name:</div>
                    <div class="control_data">
                        <input type="text" asp-for="@Model.UserName" />
                        <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form_control">
                    <div class="control_title">Email:</div>
                    <div class="control_data">
                        <input type="email" asp-for="@Model.Email" />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form_control">
                    <div class="control_title">Password:</div>
                    <div class="control_data">
                        <input type="password" asp-for="@Model.Password" />
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="continueReading_btn">
                    Create
                </button>
                <div class="auth">
                    <a asp-controller="Identity" asp-action="Login">Sign In</a>
                </div>
            </form>
        }
        else
        {
            <div class="success_container">
                <div>
                    <h1>Great! </h1>
                    <p>Check your email and confirm your account</p>
                    <div class="auth">
                        <a asp-controller="Identity" asp-action="Login">Sign In</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
