@model domain.ArticleAdventure.Models.UserLogin

<div class="auth_page_component">
    <div class="form_container">
        @*<h3>natusvincer77@gmail.com</h3>*@

        <form method="post">
            <h1>Login</h1>
         
            <div class="form_control">
                <div class="control_title">Email:</div>
                <div class="control_data">
                    <input type="email" asp-for="@Model.Email" value="natusvincer77@gmail.com" />
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form_control">
                <div class="control_title">Password:</div>
                <div class="control_data">
                    <input type="password" asp-for="@Model.Password" value="Nspre169169!" />
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
            </div>
          
            <button type="submit" class="submit_btn">
                Login
            </button>
            <div class="forgot">
                Forgot your
                <a href="#">password</a>
                ?
            </div>
            <div class="auth">
                <a asp-controller="Identity" asp-action="CreateAccount">Sign Up</a>
            </div>

        </form>

        @*<tr>
        <td>&nbsp;</td>
        <td>
        <input asp-page-handler="Submit" type="submit" value="Sign In" onclick="location.href='@Url.Action("SendMail", "Identity")'" />
        </td>
        </tr>*@
    </div>
</div>



