@model domain.ArticleAdventure.Models.TagsModel
<div class="article_change tags_page">
    <div class="tags_row tag_group_item">
        <form asp-controller="Tags">
            <input type="hidden" asp-for="AddMainTag.NetUid" />
          
            @if (Model.SelectMainTag != null)
            {
                <div>Select Main Tag : @Model.SelectMainTag.Name</div>
            }
            <div class="inputs">
                <div class="input">
                    <input type="text" placeholder="Name Main Tag" asp-for="AddMainTag.Name" />
                    <span asp-validation-for="@Model.AddMainTag.Name" class="text-danger"></span>
                </div>

                <div class="inputColor">
                    <input type="color" asp-for="AddMainTag.Color" />
                </div>
            </div>
            <div class="buttons">
                @if (Model.AddMainTag?.NetUid != null)
                {
                    <button type="submit" formaction="ChangeMainTag" formmethod="post" value="Change">Change</button>
                }
                else
                {
                    <button type="submit" formaction="AddMainTag" formmethod="post" value="Save">Save</button>
                }
            </div>
        </form>

        <div class="item_tags mainTags_list">
            <ol>
                @foreach (var MainTag in Model.MainTags)
                {
                    <li>
                        @if (MainTag.IsSelected)
                        {
                            <button type="submit" value="Save" onclick="location.href='@Url.Action("GetMainTag", "Tags",new {ChangeMainTagsNetUid =MainTag.NetUid})'">
                                <span style="color:@MainTag.Color">#</span>
                                <span>@MainTag.Name</span>
                            </button>
                            <button class="delete" type="submit" value="Save" onclick="location.href='@Url.Action("RemoveMainTag", "Tags",new {RemoveMainTagsNetUid =MainTag.NetUid})'">Delete</button>
                            <button class="change" type="submit" value="Save" onclick="location.href='@Url.Action("SetChangeMainArticle", "Tags",new {SetChangeMainArticleNetUid =MainTag.NetUid})'">Change</button>
                            <button class="select" type="submit" value="Save" onclick="location.href='@Url.Action("SelectChangeMainArticle", "Tags",new {SelectChangeMainArticleNetUid =MainTag.NetUid})'">Select</button>
                        }
                        else
                        {
                            <button type="submit" value="Save" onclick="location.href='@Url.Action("GetMainTag", "Tags",new {ChangeMainTagsNetUid =MainTag.NetUid})'">
                                <span style="color:@MainTag.Color">#</span>
                                <span>@MainTag.Name</span>
                            </button>
                        }
                    </li>
                }
            </ol>
        </div>
    </div>

    <div class="tags_row tag_group_item">
        <form asp-controller="Tags">
            <input type="hidden" asp-for="AddSupTag.NetUid" />
            <input type="hidden" asp-for="SelectMainTag.Id" />
            <div class="inputs">
                <div class="input">
                    <input type="text" placeholder="Name Sup Tag" asp-for="AddSupTag.Name" />
                    <span asp-validation-for="@Model.AddSupTag.Name" class="text-danger"></span>
                </div>
                <div class="inputColor">
                    <input type="color" asp-for="AddSupTag.Color" />
                </div>
            </div>
            <div class="buttons">
                @if (Model.AddSupTag?.NetUid != null)
                {
                    <button type="submit" formaction="ChangeSupTag" formmethod="post" value="Change">Change</button>
                }
                else
                {
                    <button type="submit" formaction="AddSupTag" formmethod="post" value="Save">Save</button>
                }
            </div>
        </form>
        <div class="item_tags mainTags_list">
            @foreach (var MainTag in Model.MainTags)
            {

                <h2>@MainTag.Name</h2>

                <ol>
                    @foreach (var subTag in MainTag.SubTags)
                    {
                        <li>
                            @if (subTag.IsSelected)
                            {
                                <button onclick="location.href='@Url.Action("GetSupTag", "Tags",new {ChangeSupTagsNetUid =subTag.NetUid})'">
                                    <span style="color:@subTag.Color">#</span>
                                    <span>@subTag.Name</span>
                                </button>
                                <button class="delete" onclick="location.href='@Url.Action("RemoveSupTag", "Tags",new {RemoveSupTagsNetUid = subTag.NetUid})'">Delete</button>
                                <button class="change" onclick="location.href='@Url.Action("SetChangeSupArticle", "Tags",new {SetChangeSupArticleNetUid = subTag.NetUid})'">Change</button>
                            }
                            else
                            {
                                <button onclick="location.href='@Url.Action("GetSupTag", "Tags",new {ChangeSupTagsNetUid =subTag.NetUid})'">
                                    <span style="color:@subTag.Color">#</span>
                                    <span>@subTag.Name</span>
                                </button>
                            }
                        </li>
                    }
                </ol>
            }
        </div>
    </div>
</div>